<div class="col-md-4">
	<div class="content-section" style="padding: 1em; margin-bottom: 0.5em">
		<div style="display: flex; align-items: center; margin-bottom: 0.75em">
			<div class="profile-page-img-div">
				<img style="width: 90%" class="rounded-circle profile-img" src="{{ user_to_render.profile.image.url }}">
			</div>
			<a class="article-title profile-name" style="flex: 1; word-break: break-word" href="{% url 'user-posts' user_to_render.username %}">{{ user_to_render.username }}</a>
			<div class="sm-follow-btn" style="">
				{% if user_to_render == user %}
					<a href="{% url 'profile' %}">Edit Profile</a>
				{% else %}
					{% csrf_token %}
					<button class="follow-btn btn btn-primary btn-md" user-pk="{{ user_to_render.pk }}">{% if is_following %}Unfollow{% else %}Follow{% endif %}</button>
				{% endif %}
			</div>
		</div>
		<div style="display: flex; flex-wrap: wrap-reverse">
			<div class="following-box">
				<div style="flex-grow: 1">
					<p class="mb-1 h5">{{ user_to_render.profile.followers.count }}</p>
					<p class="text-muted mb-0 scaled-text">Joshowers</p>
				</div>
				<div style="flex-grow: 1">
					<p class="mb-1 h5">{{ user_to_render.following.count }}</p>
					<p class="text-muted mb-0 scaled-text">Joshowing</p>
				</div>
				<div class="lg-follow-btn" style="flex-grow: 1">
					{% if user_to_render == user %}
						<a href="{% url 'profile' %}">Edit Profile</a>
					{% else %}
						{% csrf_token %}
						<button class="follow-btn btn btn-primary btn-sm" user-pk="{{ user_to_render.pk }}">{% if is_following %}Unfollow{% else %}Follow{% endif %}</button>
					{% endif %}
				</div>
			</div>
			<div class="bio-div">
				<p style="margin-left:0.5em; margin-right: 0.5em; margin-top: 1em; word-break: break-word;" class='text-muted'>{{ user_to_render.profile.bio }}</p>
			</div>
		</div>
	</div>
	<div class="content-section" style="margin-top: 0; padding-bottom: 0; padding-left: 1em; padding-right: 0.5em">
		<form method="get" class="form" style="width: 100%" action="{% url 'user-posts' user_to_render.username %}">
			<div class="form-group" style="display: flex; align-items: center">
				<p class="text-muted" style="margin-bottom: 0px">Sort by:&nbsp;</p>
				<select id="sort-selector" onchange="form.submit();" style="flex-grow: 1" name="sort_type">
					<option value='hot'>Hot</option>
					<option value='new'>New</option>
					<option value='top'>Top</option>
					<option value='controversial'>Conteroversial</option>
				</select>
			</div>
		</form>
	</div>
</div>
