body {
  color: #333333;
  margin-top: 5rem;
  background-image: url("/media/default_backgrounds/jungle.jpg");
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.pizza {
  color: black;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: rgba(245,255,245,0.9);
  border: 2px solid #dddddd;
  padding: 0.75em 0.5em;
  padding-bottom: 2em;
  border-radius: 3px;
  margin-bottom: 0.75em;
}

.head-comment {
  background: rgba(245,255,245,0.9);
  border: 2px solid #dddddd;
  padding-left: 0.75em;
  padding-right: 0.5em;
  padding-top: 0.75em;
  padding-bottom: 0em;
  border-radius: 3px;
  margin-bottom: 1em;
}

.nested-comment {
  background: #ffffff;
  border: 1px solid #dddddd;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 1em;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  line-height: 1.4;
}

.post-img {
  height: 4em;
  width: 4em;
  margin-right: 16px;
}

.nested-reply-img {
  height: 2em;
  width: 2em;
}

.article-metadata {
  padding: 0.25em;
}

.article-metadata p {
  margin-bottom: 0.5em;
}

.article-metadata a {
  font-size: 1.125em;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.post-title {
  padding-bottom: 0.25em;
}

.account-heading {
  font-size: 2.5rem;
}

.notification-badge {
  transition: 0.3s;
}

.notification-badge:hover {
  cursor: pointer;
  opacity: 0.75;
  transition: 0.3s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 325px;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2)
  z-index: 1;
  font-size: 0.9rem;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-item-parent {
  position: relative;
  display: block;
}

.dropdown-item-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
  padding-right: 5px;
  transition: 0.3s;
}

.dropdown-item-close:hover {
  color: rgb(180, 25, 25);
  transition: 0.3s;
  cursor: pointer;
}

* {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color:black;
}

.post-body {
  padding: 0.25em;
  width:100%;
}

.post-bottom-bar {
  bottom: 0px;
  position: absolute;
  right: 0px;
  padding: 0.75em;
}

.post-left-bar img {
  display:block;
}

.post-left-bar {
  justify-content: center;
  padding: 0.5em;
}

.hos-header {
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
}