html {
  font-size: 16px;
}

body {
  color: #333333;
  padding-top: 5rem;
  background-image: url("/media/default_backgrounds/jungle.jpg");
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: rgba(245,255,245,0.9);
  border: 2px solid #dddddd;
  padding: 0.75em 0.5em;
  border-radius: 3px;
  padding-bottom: 1em;
  margin-bottom: 0.75em;
}

.head-comment {
  background: rgba(245,255,245,0.9);
  border: 2px solid #dddddd;
  padding-left: 0.75em;
  padding-right: 0.5em;
  padding-top: 0.75em;
  padding-bottom: 0em;
  border-radius: 3px;
  margin-bottom: 1em;
  line-break: anywhere;
}

.preview-comment {
  padding-left: 0.35em;
  padding-right: 0.35em;
  gap: 0.25em;
  min-height: 30px;
  border: 0.25px solid rgba(200,200,200, 0.3);
}

.nested-comment {
  background: #ffffff;
  border: 1px solid #dddddd;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 1em;
}

.article-title {
  color: #444444;
  padding-bottom: 0.25em;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  line-break: normal;
  line-height: 1.4;
  word-break: break-word;
  margin-bottom: 0.5em;
}

.article-content a {
  color: #0D6496;
}

.article-content a:hover {
  color: #128FD3;
}

.post-img {
  height: 4em;
  width: 4em;
  margin-right: 16px;
}

.comment-img {
  width: 100%;
}

.nested-reply-img {
  height: 2em;
  width: 2em;
}

.article-metadata {
  width: 100%;
}

.article-metadata p {
  margin-bottom: 0.25em;
}

.article-metadata a {
  font-size: 1.125em;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.notification-badge {
  transition: 0.3s;
}

.notification-badge:hover {
  cursor: pointer;
  opacity: 0.75;
  transition: 0.3s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 325px;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 0.9rem;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-item-parent {
  position: relative;
  display: block;
}

.dropdown-item-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
  padding-right: 5px;
  transition: 0.3s;
}

.dropdown-item-close:hover {
  color: rgb(180, 25, 25);
  transition: 0.3s;
  cursor: pointer;
}

@font-face {
  font-family: 'Comic Sans MS';
  src: url("COMIC.TTF");
}

* {
  font-family: 'Comic Sans MS';
}

.post-body {
  display: grid;
  grid-column-gap: 0px;
  padding: 0.25em;
  padding-top:0;
  padding-bottom:0;
  width:100%;
}

.post-bottom-bar {
  height: 1fr;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
  padding: 0;
  gap: 0.5em;
}

.preview-comment-section {
  margin-left: 0.25em;
  margin-top: 1em;
  margin-left: 1em;
  border: 1px solid rgb(200,200,200);
}

.preview-comment-section > .preview-comment:nth-of-type(odd) {
  background: rgba(210,230,230,0.6);
}

.preview-comment-section > .preview-comment:nth-of-type(even) {
  background: rgba(200,220,220,0.5);
}

.comment-bottom-bar {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

.post-left-bar img {
  display:block;
}

.post-left-bar {
  justify-content: center;
}

.hos-header {
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 2px 0 #000;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.user-sidebar-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 1fr;
}

/* Following box css on larger screen */
.following-box {
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  flex: 1 1 0;
}

.profile-page-img-div {
  width: 25%;
  min-width: 40px;
}

.sm-follow-btn {
  display: none;
}

.profile-name {
  font-size: 24px;
  margin-left: 0.5em;
}

@media (max-width: 991.9px) {
  .profile-name {
    font-size: 2.25vw;
  }

  .scaled-text {
    font-size: 1.5vw;
  }
  .scaled-text-md {
    font-size: 1.25vw;
  }
}

/* Small */
@media (max-width: 767.9px) {
  p, a {
    font-size: 95%;
  }

  /* Following box css on smaller screen */
  .following-box {
    width: 20%;
    flex-direction: column;
    flex: none;
  }

  .profile-page-img-div {
    width: 20%;
  }

  .bio-div {
    flex: 1;
  }

  .profile-name {
    font-size: 5vw;
  }

  .sm-follow-btn {
    display: block;
  }
  
  .scaled-text {
    font-size: 2.25vw;
  }
  
  .scaled-text-md {
    font-size: 2vw;
  }

  .lg-follow-btn {
    display: none;
  }
}

/* xs */
@media (max-width: 575.9px) {
  .scaled-text {
    font-size: 2.5vw;
  }

  .scaled-small {
    font-size: 2vw;
  }
  
  .scaled-text-md {
    font-size: 2.25vw;
  }

  p, a {
    font-size: 3.5vw;
  }

  body h1 {
    font-size: 8vw;
  }

  body h2 {
    font-size: 6vw;
  }

  .article-title {
    font-size: 6vw;
  }

  .article-metadata a, .post-bottom-bar a {
    font-size: 3.5vw;
  }

  .article-metadata p, .post-bottom-bar p {
    font-size: 3.75vw;
  }
  .article-metadata small, .post-bottom-bar small {
    font-size: 2.5vw;
  }
}
