{% extends "blog/base.html" %}
{% load templatetags %}
{% block header %}
	<div style="padding-top: 10px; padding-bottom: 40px;">
		<h1 class="hos-header">HALL OF SHAME</h1>
	</div>
{% endblock header %}
{% block content %}
	{% render_post_func shame_post shame_user True %}
{% endblock content %}
{% block taskbar %}
	{% render_user_sidebar shame_user user %}
	<div class="col">
		<div class="content-section" style="padding: 1em; padding-top: 1.5em">
			<p>
				The hall of shame highlights <strong>the most shameful of users and the most shameful of posts.</strong> While other social media platforms have disabled like counts by default and set strict rules prohibiting cyberbullying, here at JoshuaNetwork we believe <strong>sometimes people do deserve a little public shaming</strong> to push them in the right direction.
			</p>
		</div>
	</div>
{% endblock taskbar %}
