{% extends "blog/base.html" %}
{% load templatetags %}
{% load humanize %}
{% block content %}
	<script type="text/javascript">
		$(document).ready(function() {
		    let element = document.getElementById('sort-selector');
		    element.value = '{{ sort_type }}';
		});
	</script>
	<div id="post-list" class="infinite-container">
		{% for post in posts %}
			{% render_post_func post user False %}
		{% endfor %}
	</div>
	{% if page_obj.has_next %}
		<a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}&sort_type={{ sort_type }}">next</a>
	{% endif %}
{% endblock content %}
{% block taskbar %}
<div class="col-md-4">
	<div class="content-section" style="padding-top:5%; padding-bottom: 0; padding-left: 1em">
		<h4 style="display:inline">Need some awesome conversation starters??? Try these!!!</h4>
		<ul class="list-group" style="padding-top: 1em; padding-bottom: 1em">
			<li class="list-group-item list-group-item-light">Prompt of the hour: <b>What if pizza were illegal?</b></li>
			<li class="list-group-item list-group-item-light">Prompt of the day: <b>My favorite thing about Joshua is _____</b></li>
			<li class="list-group-item list-group-item-light">Prompt of the week: <b>Essay prompt edition: How I'm going to help JoshuaNetwork grow!</b></li>
		</ul>
		<p>Currently: <strong>{{ user_count }} Joshowers</strong> in the Joshua Army (and growing!)</p>
	</div>
	<div class="content-section" style="margin-top: 0; padding-bottom: 0; padding-left: 1em; padding-right: 0.5em">
		<form method="get" class="form" style="width: 100%" action="{% url 'blog-home' %}">
			<div class="form-group" style="display: flex; align-items: center">
				<p class="text-muted" style="margin-bottom: 0px">Sort by:&nbsp;</p>
				<select id="sort-selector" onchange="form.submit();" style="flex-grow: 1" name="sort_type">
					<option value='hot'>Hot</option>
					<option value='new'>New</option>
					<option value='top'>Top</option>
					<option value='controversial'>Conteroversial</option>
				</select>
			</div>
		</form>
	</div>
</div>
{% endblock taskbar %}
