{% extends "blog/base.html" %}
{% load templatetags %}
{% block content %}
	<!-- Don't actually need the user capture lol -->
	{% render_post_func object user True %}
	<div>
		<div class="form-outline">
		 	<label class="form-label">Post Comment</label>
			{% csrf_token %}
			<textarea class="form-control" id="comment-field" rows="4"></textarea>
  			<button class="btn btn-outline-info" onclick="postComment(this)" data-pk="{{ post.pk }}" parent-comment="">Post</button>
		</div>
	</div>
	<br>
	<!--
	-->
	<div class="media-body">
		<h1 style="color:black">Comments</h1>
		<div id="comment-section">
			{% block comments %}
				{% for comment in top_comments %}
					{% render_comment comment user %}
				{% empty %}
					<p>There are no comments yet.</p>
				{% endfor %}
			{% endblock comments %}
		</div>
	</div>
{% endblock content %}
