{% load templatetags %}
<article class="media{% if comment.parent %} nested-comment {% else %} head-comment{% endif %}" style="display: grid; padding-top: 0.5em">
	<div style="display: flex; gap: 0.25em; padding-bottom: 0.75em">
		<div style="display: flex; flex-direction: column; align-items: center; gap: 0.25em; width: 14%; margin-top: 0.25em; min-width: 65px">
			<img class="rounded-circle" src="{{ comment.author.profile.image.url }}" style="width:80%">
			<div style="display: flex; align-items: center; width:100">
				{% csrf_token %}
				<a class="btn-upjoshua" href="javascript:void(0)" onclick="like_comment(this, 1)" data-pk="{{ comment.pk }}" data-likes="{{ comment.total_likes }}">
					{% if karma == 1 %}
						<img src="/media/ui/upjoshua.png" name="upjoshua" style="width:100%; min-width: 1.5em">
					{% else %}
						<img src="/media/ui/upjoshua_empty.png" name="upjoshua" style="width:100%; min-width: 1.5em">
					{% endif %}
				</a>
				<div style="text-align: center; min-width: 2em">
					<p id="likeCount-{{ comment.pk }}" style="margin-bottom: 0">{{ comment.total_likes }}</p>
				</div>
				<a class="btn-downjoshua" href="javascript:void(0)" onclick="like_comment(this, -1)" data-pk="{{ comment.pk }}" data-likes="{{ comment.total_likes }}">
					{% if karma == -1 %}
						<img src="/media/ui/downjoshua.png" name="downjoshua" style="width:100%; min-width: 1.5em">
					{% else %}
						<img src="/media/ui/downjoshua_empty.png" name="downjoshua" style="width:100%; min-width: 1.5em">
					{% endif %}
				</a>
			</div>
		</div>
		<div style="flex: 1; display: flex; flex-direction: column">
			<div class="article-metadata">
				{% if comment.parent %}
					<img class="rounded-circle nested-reply-img" src="{{ comment.author.profile.image.url }}">
				{% endif %}
				<a href="{% url 'user-posts' comment.author.username %}">{{ comment.author }}</a>
				<small class="text-muted">{{ comment.date_posted | timesince | upto:','}} ago</small>
			</div>
			<div style="flex:1">
				<p style="margin-bottom: 0px; margin-left: 0.5em">{{ comment.content }}</p>
			</div>
			<div>
				{% if comment.author == user %}
					<a href="javascript:void(0)" style="float:right;" onclick="deleteComment(this)" data-pk="{{ comment.pk }}">Delete</a>
				{% endif %}				
			</div>
		</div>
	</div>
</article>