{% load templatetags %}
<article class="media head-comment" style="display: grid; padding-top: 0.5em">
	<div style="display: flex; gap: 0.25em; padding-bottom: 0.75em">
		<div style="display: flex; flex-direction: column; align-items: center; gap: 0.25em; width: 10%; margin-top: 0.25em; min-width: 40px">
			<img class="rounded-circle" src="{{ comment.author.profile.image.url }}" style="width:80%">
			<div style="display: flex; align-items: center; width:100">
				{% csrf_token %}
				<a class="btn-upjoshua" href="javascript:void(0)" onclick="like_comment(this, 1)" data-pk="{{ comment.pk }}" data-likes="{{ comment.total_likes }}">
					{% if karma == 1 %}
						<img src="/media/ui/upjoshua.png" name="upjoshua" style="width:100%; min-width: 1rem">
					{% else %}
						<img src="/media/ui/upjoshua_empty.png" name="upjoshua" style="width:100%; min-width: 1rem">
					{% endif %}
				</a>
				<div style="text-align: center; min-width: 1em">
					<p id="likeCount-{{ comment.pk }}" style="margin-bottom: 0">{{ comment.total_likes }}</p>
				</div>
				<a class="btn-downjoshua" href="javascript:void(0)" onclick="like_comment(this, -1)" data-pk="{{ comment.pk }}" data-likes="{{ comment.total_likes }}">
					{% if karma == -1 %}
						<img src="/media/ui/downjoshua.png" name="downjoshua" style="width:100%; min-width: 1rem">
					{% else %}
						<img src="/media/ui/downjoshua_empty.png" name="downjoshua" style="width:100%; min-width: 1rem">
					{% endif %}
				</a>
			</div>
		</div>
		<div style="flex: 1; display: flex; flex-direction: column">
			<div class="article-metadata">
				<a href="{% url 'user-posts' comment.author.username %}">{{ comment.author }}</a>
				<small class="text-muted">{{ comment.date_posted | timesince | upto:','}} ago</small>
			</div>
			<div style="flex:1">
				<p style="margin-bottom: 0px; margin-left: 0.5em">{{ comment.content|urlize }}</p>
				<div class="post-bottom-bar" style="padding-top: 0.25em">
					<a href="javascript:void(0)" class="reply-btn text-muted" data-pk="{{ comment.pk }}" direct-response="{% if comment.parent %}{{ comment.author }}{% endif %}">Reply</a>
					{% if comment.author == user %}
						<a href="javascript:void(0)" class="text-danger" onclick="deleteComment(this)" data-pk="{{ comment.pk }}">Delete</a>
					{% endif %}				
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="form-outline" id="reply-box-{{ comment.pk }}" style="display:none;">
			{% csrf_token %}
			<textarea class="form-control" id="comment-field-{{ comment.pk }}" rows="4"></textarea>
			<button class="btn btn-outline-info" onclick="postComment(this)" comment-pk="{{ comment.pk }}" data-pk="{{ comment.post.pk }}" parent-comment="{% if comment.parent %}{{ comment.parent.pk }}{% else %}{{ comment.pk }}{% endif %}">Post</button>
		</div>
		<div id="comment-replies-{{ comment.pk }}">
			{% for reply in comment.replies.all %}
				{% render_comment reply user %}
			{% endfor %}
		</div>
	</div>
</article>