{% extends "blog/base.html" %}
{% load templatetags %}
{% load humanize %}
{% block content %}
	<script type="text/javascript">
		$(document).ready(function() {
		    let element = document.getElementById('sort-selector');
		    element.value = '{{ sort_type }}';
		});
	</script>
	<div id="post-list" class="infinite-container">
		{% for post in posts %}
			{% render_post_func post user %}
		{% endfor %}
	</div>
	{% if page_obj.has_next %}
		<a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}&sort_type={{ sort_type }}">next</a>
	{% endif %}
{% endblock content %}
{% block taskbar %}
{% render_user_sidebar user_of_page user %}
{% endblock taskbar %}