<div class="dropdown" style="padding-top:0.5em">
	<span class="badge bg-danger notifications-badge" onclick="showNotifications()">{{ notifications.count }}</span>
	<div class="dropdown-content d-none" id="notification-container" style="right:-5px">
		{% for notification in notifications %}
			<div class="dropdown-item-parent">
				{% if notification.post %}
					{% if notification.notif_type == 1 %}
						<a href="{% url 'post-detail' notification.post.pk %}">@{{ notification.from_user }} liked your post</a>
					{% elif notification.notif_type == 2 %}
						<a href="{% url 'user-posts' notification.from_user.username %}">@{{ notification.from_user }} has started following you</a>
					{% elif notification.notif_type == 3 %}
						<a href="{% url 'post-detail' notification.post.pk %}">@{{ notification.from_user }} commented on your post</a>
					{% elif notification.notif_type == 4 %}
						<a href="{% url 'post-detail' notification.post.pk %}">@{{ notification.from_user }} replied to your comment</a>
					{% endif %}
				{% endif %}
				<span class="dropdown-item-close" onclick="removeNotification(`{% url 'delete-notification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
			</div>
		{% endfor %}
	</div>
</div>