<div class="dropdown" style="padding-top:0.5em">
	<span class="badge bg-danger notifications-badge" onclick="showNotifications()">{{ notifications.count }}</span>
	<div class="dropdown-content d-none" id="notification-container" style="right:-5px">
		{% for notification in notifications %}
			{% if notification.post %}
				{% if notification.notif_type == 1 %}
				<div class="dropdown-item-parent" style="">
					<a href="{% url 'post-detail' notification.post.pk %}">@{{ notification.from_user }} liked your post</a>
					<span class="dropdown-item-close" onclick="removeNotification(`{% url 'delete-notification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
				</div>
				{% elif notification.notif_type == 2 %}
				<div class="dropdown-item-parent">
					<a href="{% url 'post-detail' notification.post.pk %}">@{{ notification.from_user }} commented on your post</a>
					<span class="dropdown-item-close" onclick="removeNotification(`{% url 'delete-notification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
				</div>
				{% endif %}
			{% elif notification.comment %}
				{% if notification.notif_type == 1 %}
				<div class="dropdown-item-parent">
					<a href="{% url 'post-detail' notification.comment.posts.pk %}">@{{ notification.from_user }} liked your comment</a>
					<span class="dropdown-item-close" onclick="removeNotification(`{% url 'delete-notification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
				</div>
				{% elif notification.notif_type == 2 %}
				<div class="dropdown-item-parent">
					<a href="">@{{ notification.from_user }} replied to your comment</a>
					<span class="dropdown-item-close" onclick="removeNotification(`{% url 'delete-notification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
				</div>
				{% endif %}
			{% else %}
				<div class="dropdown-item-parent">
					<a href="{% url 'user-posts' notification.from_user.username %}">@{{ notification.from_user }} has started following you</a>
					<span class="dropdown-item-close" onclick="removeNotification(`{% url 'delete-notification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>